@page "/Landing"

<main class="main">
    <section class="promo-primary promo-primary--shop">
        <picture>
            <source srcset="Template/img/shop.jpg" media="(min-width: 992px)" />
            <img class="img--bg" src="Template/img/shop.jpg" alt="img" />
        </picture>
        <div class="promo-primary__description"> <span></span></div>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="align-container">
                        <div class="align-container__item">
                            <span class="promo-primary__pre-title">Let's Begin</span>
                            <h1 class="promo-primary__title"><span>User</span> <span>Registration</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section start-->
    <section class="section background--brown">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- checkout start-->
                    <form class="form checkout-form" method="post" asp-page="Register">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <ul id="progressbar" style="width:100%;">
                                    <li id="personInfo" class="active">Personal Information</li>
                                    <li id="empInfo">Employment Information</li>
                                    <li id="idemInfo">Indemnity Agreement</li>
                                    <li id="thankYouInfo">Validation/Thank you</li>
                                </ul>
                                <UserInfo />
                            </div>
                        </div>
                    </form>
                    <!-- checkout end-->
                </div>
            </div>
        </div>
    </section>
    <!-- section end-->
    <!-- bottom bg start-->
    @*<section class="bottom-background background--brown">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-background__img"><img src="Template/img//bottom-bg.png" alt="img" /></div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- bottom bg end-->
</main>


@code {

}
