@page "/Thankyou"

<div class="form__fieldset" id="ThankyouPage">
    <h2 class="form__title">Thank You!!!</h2>
    <div class="row offset-30">
        <div id="ThankyouPageContent" class="row" style="padding:15px !important;">
            <div class="col-lg-12">
                <h6>Thank you for taking out time to fill this form</h6>

                <p>
                    Should you decide to key into the Covid-19 stimulus package, you may login to
                    your profile to continue. Kindly remember your safety and the safety of others
                    in whatever you do.
                </p>
                <p>
                    <strong>#StayHome, #KeepSocialDistance</strong>.
                </p>
            </div>
        </div>
        <div class="col-12" style="margin-bottom:20px !important;">
            <button class="form__submit" type="submit">Close</button>
        </div>
    </div>
</div>


@code {

}
