<div class="aside-dropdown">
    <div class="aside-dropdown__inner">
        <span class="aside-dropdown__close">
            <svg class="icon">
                <use xlink:href="#close"></use>
            </svg>
        </span>
        <div class="aside-dropdown__item d-lg-none d-block">
            <ul class="aside-menu">
                <li class="aside-menu__item"><a class="aside-menu__link" asp-area="Pages" asp-page="/Index"><span>Home</span></a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" asp-area="Pages" asp-page="/Index"><span>Register</span></a></li>
            </ul>
        </div>
        <div class="aside-dropdown__item">
            <!-- aside menu start-->
            <ul class="aside-menu">
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Disclaimer</a></li>
                <li class="aside-menu__item"><a class="aside-menu__link" href="#">Contact us</a></li>
            </ul>
            <!-- aside menu end-->
            <div class="aside-inner"><span class="aside-inner__title">Need Help?</span><a class="aside-inner__link" href="mailto:support@reliefregister.ng">support@reliefregister.ng</a></div>
        </div>
        <div class="aside-dropdown__item"><a class="button button--squared" href="#"><i class="fa fa-sign-in"></i> &nbsp;<span>Sign In</span></a></div>
    </div>
</div>
<!-- aside dropdown end-->
<!-- header start-->
<header class="header header--front">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-between">
            <div class="col-auto d-flex align-items-center">
                <div class="dropdown-trigger d-none d-sm-block">
                    <div class="dropdown-trigger__item"></div>
                </div>
                <div class="header-logo"><a class="header-logo__link" href="index.html"><img class="header-logo__img logo--light" src="Template/img/logo_white.png" alt="logo" /><img class="header-logo__img logo--dark" src="Template/img/logo_dark.png" alt="logo" /></a></div>
            </div>
            <div class="col-auto">
                <!-- main menu start-->
                <nav>
                    <ul class="main-menu">
                        <li class="main-menu__item"><a class="main-menu__link" asp-area="Pages" asp-page="/Index"><i class="fa fa-home"></i> &nbsp;<span>Home</span></a></li>
                        <li class="main-menu__item"><a class="main-menu__link" asp-area="Pages" href="/Landing"><i class="fa fa-folder-open"></i> &nbsp;<span>Register</span></a></li>
                        <li class="main-menu__item"><a class="main-menu__link" asp-area="Pages" asp-page="/Contact"><i class="fa fa-envelope"></i> &nbsp;<span>Contact</span></a></li>
                    </ul>
                </nav>
                <!-- main menu end-->
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="dropdown-trigger d-block d-sm-none">
                    <div class="dropdown-trigger__item"></div>
                </div><a class="button button--squared" href="#"><i class="fa fa-sign-in"></i> &nbsp;<span>Sign In</span></a>
            </div>
        </div>
    </div>
</header>
